body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: relative;
    width: 90vw;
    height: 60vh;
    border: 2px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: absolute;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #ff4747;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #ff0000;
}